registry=https://pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/
always-auth=true
; begin auth token
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/:username=msface
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/:_password=NWJyYzVBZjBqU2l4TDVyMmVhalFWVm1wYkRvQ2RoYXNzN1NFaDlNN2dzMTRKWjNKaWNQY0pRUUo5OUFMQUNBQUFBQUFBcm9oQUFBU0FaRE91bUUy
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/registry/:email=tadeyanju@infinion.co
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/:username=msface
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/:_password=NWJyYzVBZjBqU2l4TDVyMmVhalFWVm1wYkRvQ2RoYXNzN1NFaDlNN2dzMTRKWjNKaWNQY0pRUUo5OUFMQUNBQUFBQUFBcm9oQUFBU0FaRE91bUUy
//pkgs.dev.azure.com/msface/SDK/_packaging/AzureAIVision/npm/:email=tadeyanju@infinion.co
; end auth token

